# Huge files
2021/DEADFACE CTF/Window Pains/memdump.zip
2021/НТО, 2-й этап/Windows moment/memdump.mem

# Folders with tools
/pwn
/Tools

# Folders, content of which should not be shared
/ShadowServants

# Configs
*.ovpn

# Files, containing private data
2022/Innopolis Open (2 этап)