extends layout

block content
  h1= "Welcome to Based Storage!"
  p.lead
  a.btn.btn-lg.btn-primary.active(href="/submit") Create
  p.lead
  a.btn.btn-lg.btn-primary.active(href="/get") Download
  p.lead
  a.btn.btn-lg.btn-primary.active(href="/delete") Delete
